


.content {
	background: #ccc;
	padding: 10px;
	min-height: 300px;
}

.content.green {
	background: green;
}

.content.blue {
	background: blue;
}

.content.red {
	background: red;
}

.content.yellow {
	background: yellow;
}

.content.orange {
	background: orange;
}

.content.purple {
	background: purple;
}

.btn{
	font-size: 14px;
	color:#FFF;
	border:1px solid rgba(102, 102, 102, 0.50);
	background-color: #CCC;
	padding:10px 20px 10px 20px;
	
	cursor:pointer;
	
	&:hover{
		background-color: #666;	
	}
}

.hidden{
	display:none;
}

.visible{
	display:block;
}